.burger {
    /* position: absolute; */
    top: 5%;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger:focus {
    outline: none;
}

.slice {
    width: 2rem;
    height: 0.25rem;
    background-color: rgb(59 130 246);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.slice-1 {
    transform: rotate(45deg);
}

.slice-2 {
    opacity: 0;
}

.slice-3 {
    transform: rotate(-45deg);
}