.nav-link {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border-radius: 9999px;
}

.nav-link:hover {
    background-color: rgb(59 130 246);
    color: white;
}

.active-link {
    background-color: rgb(59 130 246);
    color: white;
}


@media (max-width: 639px) {
    .custom-menu {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: white;
        height: 100vh;
        text-align: left;
        padding: 1rem;
        position: absolute;
        top: 100px;
        left: 0;
        transition: transform 0.3s ease-in-out;
        width: 80%; 
        z-index: 5;
        transform: translateX(-100%);
    }

    .hide-custom-menu {
        transform: translateX(0);
    }
}