.carousel-inner { /* This class is bootstrap's inner class which is hidden in the code. This is the parent of each carousel item*/
    height: 100%;
}

.carousel-item {
    height: 100%;
    gap: 4rem;
}

.carousel-item.active {
    display: flex;
}

.carousel-item-next {
    display: flex;
}

.carousel-caption {
    position: unset;
    text-align: left;
    color: black;
    width: 50%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C7BBB8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C7BBB8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 768px) {
    .carousel-item {
        gap: 0;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 15% !important;
    }

    .carousel-caption {
        width: 65%;
    }
}

@media (max-width: 640px) {

    .carousel-item {
        height: 544.25px;
    }

    .carousel-caption {
        width: 72%;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 24px !important;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 1024px) {
    .carousel-control-prev, .carousel-control-next {
        width: 8%;
    }
}